body {
    background-color: #F5FFFA;
}

/* banner-css */

.banner-container {
    height: 100vh;
    background-color: rgb(147, 197, 253);

}

/* Banner Icon Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Banner Icon Pulse */

/* banner-css */


/* navbar css */
.navbar {
    background-color: rgb(147, 197, 253);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.scroll {
    background-color: rgb(5, 4, 5);
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    color: black;
}

.nav-link:hover {
    border-bottom: 2px solid #A5B4FC;
}

/* navbar  css */

/* single-project css */
.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: orangered !important;
}

.slider {
    margin: 0 auto;

}


.nextPrev {
    background-color: #60A5FA;
    border-radius: 6px;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.nextPrev:first-child {
    margin-right: 10px;
}

.nextPrev:active {
    background: rgb(175, 224, 224);
}


.slider img {
    padding: 2%;
    width: 100%;
    height: 50rem;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    background: #A7F3D0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.hvr-sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Sweep To Right */


@media only screen and (max-width: 768px) {
    .slider img {
        height: 20rem;
    }
}

/* single-project css */

/* contact form css */
.wrapper {
    width: 90%;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
        0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
        0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
    background: rgba(173, 216, 230, 0.7);
    letter-spacing: 0.1rem;
    padding: 1rem;
    margin-bottom: 2%;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 1rem 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    height: 4.6rem;
    margin-bottom: 2%;
}

.form-group textarea {
    resize: vertical;
}

.submit {
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    background: rgba(173, 216, 230, 0.7);
    cursor: pointer;
    transition: background 0.15s;
}

i {
    margin-right: 0.5rem;
}

.submit:hover {
    background: rgba(173, 216, 230, 1);
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: 1px solid #222;
}

/* contact form css */

/* footer css */
.footer {
    background-color: rgb(147, 197, 253);
}

/* footer css */

/* floating-button css */

.floating-button {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 10px;
    color: royalblue;
    z-index: 100;
}

/* floating-button css */